/* 
	styles for picture-viewer and resizer
	be careful when changing any values
	some values are changeable (see cs.js-comments)
 */
.fix{
	position:fixed;
	height:50%;
	width:50%;
	overflow:auto;
	background-color:#efefef;
	padding:12px;
	border:1px solid #ababab;
	border-radius:8px;
	z-index:99;
}
/* 							container for showing pics*/
.pics_body{
	max-width:100%;
	height:90%;
}
/* 							container for showing pics*/
.pics_data{
	width:100%;
	height:100%;
}
/* 							menue-bar*/
.pics_menue{
	height:20px;
	background-color:#ababab;
	border-radius:6px;
	padding:2px 0px 0px 0px;
	text-align:center;
	opacity:0;
}
.pics_menue:hover{
	opacity:1;
}
.pics_menue:active, .pics_menue:focus{
	opacity:1;
}
.pics_menue:hover{
}
.pics_menue_item{
	border-radius:6px;
}
/* 							collection of all pictures*/
.pics_shows{
	height:100%;
	width:100%;
	overflow:auto;
}
/* 							div for each picture*/
.img{
	display:block;
	width:98%;
    padding: 4px 4px 4px 4px;	
	background-color:#efefef;
}
/* 							picture title*/
.pic_title{
	background-color:#ababab;
	color:#343434;
	text-align:center;
	font-weight:bold;
}
/* 							picture itself*/
.pic{
	width:100%;
	background-color: transparent;
	overflow:hidden;
}
/* 							button, input: behaviour on focus*/
button,input{
	text-decoration: none;
    border:0px;
	color: #454545;
	background-color: #f8f8f8;
}
button:hover,input:hover{
	color: #ff0000;
	background: #ddd;
}
}
button:focus,input:focus{
	color: #444;
	background: #ddd;
}
button:active,input:active{
	color: #444;
	background: #ddd;
}
button:hover{
	color:#ffff00;
	font-weight:bold;
	background:#ff0000;
}
input{
	width:100%;
}
