@model Limada.UseCases.Cms.Models.HtmlContent
@using Limada.Model
@using Limaki.Web.Mvc.Controllers
@{
    ViewBag.Title = "About";
   
}
<div class="display-field">
    @Html.Raw(Model.Data)
  
</div>
