@model IEnumerable<Limada.Usecases.Cms.Models.Href>
<div class="head">
    <a href="/About" id="LogoRef" >
        <img id="Logo" style="height: 2em; float: right; padding-right: 1em; border-style: none" src="Content/Logo.png" alt="Logo.png" />
    </a>

    @foreach (var link in Model) {
        @(Html.ActionLink (link.Text, "Index", new {Id=link.Id}));
        <text>&nbsp;</text>
    }

    
</div>

