<?xml version="1.0"?>
<!--
Web.Config for windows
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <appSettings>
    <add key="DataBaseFileName" value="/home/data/Work/Programming/Limada/TestData/ClientServer.limiori" />
    <add key="SiteName" value="Limada" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7">
      <assemblies>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7" />
  </system.web>
</configuration>