<?xml version="1.0"?>
<!--
Web.Config for windows
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <appSettings>
    <add key="DataBaseFileName" value="DataBase.limiori" />
    <add key="SiteName" value="Limada" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies />
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>
